/* General */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-weight: 300;
    font-family: 'Noto Sans', Roboto, sans-serif;
    overflow-x: hidden;
}

pre, .highlight pre {
    overflow: auto;
 }

strong {
    font-weight: bold;
}

main {
    flex: 1 0 auto;
}

code {
   font-family: 'Source Code Pro', monospace;
}

.max-width {
    max-width: 1280px;
    margin: 0 auto;
}

.clear-padding {
    padding: 0 !important;
}

/* Header */

.brand-logo {
    font-weight: 400;
    font-size: 1.7rem !important;
}

/* Article */

.article-image {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    padding-top: 42%;
}

.article-meta-author-name {
    font-weight: 500;
}

.article-meta-container {
    margin-bottom: 16px;
}

/* Figure */

figure>img {
    width: 100%;
}

/* List in nav menu */

#dropdown-header-desktop-2, #dropdown-header-mobile-2 {
    padding: 0px;
    list-style-type: none;   
}

#six {
    color:grey;
}

#five {
    color:#3498db;
}


.pagination {
    padding-left: 0px;
}

.no-bullets {
    list-style-type: none;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    .fab{
        margin-top: 8px;
        font-size: 2em;
    }

    .far{
        margin-top: 8px;
        font-size:2em;
    }
}   

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
    .fab{
        margin-top: 8px;
        font-size: 1.8em;
    }

    .far{
        margin-top: 8px;
        font-size:1.8em;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .fab{
        margin-top: 8px;
        font-size: 1.6em;
    }

    .far{
        margin-top: 8px;
        font-size:1.6em;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    .fab{
        margin-top: 8px;
        font-size: 1.6em;
    }

    .far{
        margin-top: 8px;
        font-size:1.6em;
    }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
    .fab{
        margin-top: 8px;
        font-size: 1.4em;
    }

    .far{
        margin-top: 8px;
        font-size:1.4em;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
    .fab{
        margin-top: 8px;
        font-size: 1.2em;
    }

    .far{
        margin-top: 8px;
        font-size:1.2em;
    }
}
