/* General */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-weight: 300;
    font-family: 'Noto Sans', Roboto, sans-serif;
}

strong {
    font-weight: bold;
}

main {
    flex: 1 0 auto;
}

code {
   font-family: 'Source Code Pro', monospace;
}
.max-width {
    max-width: 1280px;
    margin: 0 auto;
}

.clear-padding {
    padding: 0 !important;
}

/* Header */

.brand-logo {
    font-weight: 400;
    font-size: 1.7rem !important;
}

/* Article */

.article-image {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    padding-top: 42%;
}

.article-meta-author-name {
    font-weight: 500;
}

.article-meta-container {
    margin-bottom: 16px;
}

/* Figure */

figure>img {
    width: 100%;
}

/* List in nav menu */

#dropdown-header-desktop-2, #dropdown-header-mobile-2 {
    padding: 0px;
    list-style-type: none;   
}

a, h6{
    color:grey;
}

h5{
    color:#3498db;
}

/*@media only screen and (min-width: 320px) and (max-width: 700px) {

   .far{
    font-size: 1.2em;
   }

   .fab{
    font-size: 1.2em;
   }
   .icons{
    padding: 0 0.3rem !important;
   }
   .centre{
    width: 2% !important; 
   }
}
*/
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    .fab{
        margin-top: 8px;
        font-size: 2em;
    }

    .far{
        margin-top: 8px;
        font-size:2em;
    }
    .centre{
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .icons{

    }
  
}   

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
    .fab{
        margin-top: 8px;
        font-size: 1.8em;
    }

    .far{
        margin-top: 8px;
        font-size:1.8em;
    }
    .centre{
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .icons{

    }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .fab{
        margin-top: 8px;
        font-size: 1.5em;
    }

    .far{
        margin-top: 8px;
        font-size:1.5em;
    }
    .centre{
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .icons{

    }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    .fab{
        margin-top: 8px;
        font-size: 1.4em;
    }

    .far{
        margin-top: 8px;
        font-size:1.4em;
    }
    .centre{
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .icons{

    }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
    .fab{
        margin-top: 8px;
        font-size: 1.2em;
    }

    .far{
        margin-top: 8px;
        font-size:1.2em;
    }
    .centre{
        width: 5% !important;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .icons{
        padding: 0 0.5rem !important;
    }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
    .fab{
        margin-top: 8px;
        font-size: 1.2em;
    }

    .far{
        margin-top: 8px;
        font-size:1.2em;
    }
    .centre{
        width: 3% !important;
        margin-left: auto;
        left: auto;
        right: auto;
        
    }
    .icons{
        padding: 0 0.2rem !important;
    }
  
}

