/* General */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-weight: 300;
    font-family: 'Noto Sans', Roboto, sans-serif;
}

strong {
    font-weight: bold;
}

main {
    flex: 1 0 auto;
}

code {
   font-family: 'Source Code Pro', monospace;
}
.max-width {
    max-width: 1280px;
    margin: 0 auto;
}

.clear-padding {
    padding: 0 !important;
}

/* Header */

.brand-logo {
    font-weight: 400;
    font-size: 1.7rem !important;
}

/* Article */

.article-image {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    padding-top: 42%;
}

.article-meta-author-name {
    font-weight: 500;
}

.article-meta-container {
    margin-bottom: 16px;
}

/* Figure */

figure>img {
    width: 100%;
}

/* List in nav menu */

#dropdown-header-desktop-2, #dropdown-header-mobile-2 {
    padding: 0px;
    list-style-type: none;   
}
