<span class="left grey-text text-darken-4">{{ .Site.Copyright }}</span>
<div class="right text-lighten-2 hide-on-small-only">
    <a href="{{ .Site.Params.url1 }}">@{{ .Site.Params.name1 }} |</a>
    <a href="{{ .Site.Params.url2 }}">@{{ .Site.Params.name2 }} |</a>
    <a href="{{ .Site.Params.url3 }}">@{{ .Site.Params.name3 }} |</a>
    <a href="{{ .Site.Params.url4 }}">@{{ .Site.Params.name4 }} </a>
</div>
<br>

<br class="show-on-small hide-on-med-and-up ">
<div class="left show-on-small hide-on-med-and-up text-lighten-2">
    <a href="{{ .Site.Params.url1 }}">@{{ .Site.Params.name1 }} |</a>
    <a href="{{ .Site.Params.url2 }}">@{{ .Site.Params.name2 }} |</a>
    <a href="{{ .Site.Params.url3 }}">@{{ .Site.Params.name3 }} |</a>
    <a href="{{ .Site.Params.url4 }}">@{{ .Site.Params.name4 }} </a>
</div>
